/node_modules
/public/hot
/public/storage
/public/css
/public/mix-manifest.json
/public/js/app.js
/public/js/script.js
/storage/*.key
/vendor
/.idea
/.vscode
npm-debug.log
yarn-error.log
.env
.htaccess
.phpunit.result.cache
